<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			
			<div class="row features-inner">
				<div class="col-md-12"><h2 class="text-center">Formations Approuvées Par</h2></div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon d-flex align-items-center justify-content-center" style="height:90px;">
							<img src="{{asset('assets/img/amazon-logo.svg')}}" style="height:30px" alt="">
						</div>
						{# <h6>Ajoutez Au Panier</h6>
						<p>Puis remplissez vos informations</p> #}
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{{asset('assets/img/cisco-logo.webp')}}" style="height:90px" alt="">
						</div>
						{# <h6>Commandez</h6>
						<p>Rechargez le montant à payer dans votre mobile money</p> #}
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon d-flex align-items-center justify-content-center" style="height:90px;">
							<img src="{{asset('assets/img/github-logo.svg')}}" style="height:30px" alt="">
						</div>
						{# <h6>Payez</h6>
						<p>Par OM, MoMo, Moov, etc.</p> #}
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon d-flex align-items-center justify-content-center" style="height:90px;">
							<img src="{{asset('assets/img/microsoft-logo.svg')}}" style="height:30px" alt="">
						</div>
						{# <h6>Téléchargez</h6>
						<p>En un click</p> #}
					</div>
				</div>
			</div>
		</div>
	</section>