<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			
			<div class="row features-inner">
				<div class="col-md-12 mb-4"><h1 class="text-center">Obtenez La En 4 Etapes</h1></div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{{asset('assets/client/img/features/1.png')}}" style="height:50px" alt="">
						</div>
						<h6>Ajoutez Au Panier</h6>
						<p>Puis remplissez vos informations</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{{asset('assets/client/img/features/2.png')}}" style="height:50px" alt="">
						</div>
						<h6>Commandez</h6>
						<p>Rechargez le montant à payer dans votre mobile money</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{{asset('assets/client/img/features/3.png')}}" style="height:50px" alt="">
						</div>
						<h6>Payez</h6>
						<p>Par OM, MoMo, Moov, etc.</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{{asset('assets/client/img/features/4.png')}}" style="height:50px" alt="">
						</div>
						<h6>Téléchargez</h6>
						<p>En un click</p>
					</div>
				</div>
			</div>
		</div>
	</section>