<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			
			<div class="row features-inner">
				{# <div class="col-md-12 py-3"><h2 class="text-center">Les Apprenants Aiment Muzeum</h2></div> #}
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{{asset('assets/img/facebook-review.svg')}}" style="height:40px" alt="">
						</div>
                        <h5 style="color:#2E69F6;">
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star-o"></i>
                         </h5>
                         <p class="text-muted">378 Avis</p>
						{# <h6>Ajoutez Au Panier</h6>
						<p>Puis remplissez vos informations</p> #}
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{{asset('assets/img/coursereport-review.svg')}}" style="height:40px" alt="">
						</div>
						 <h5 style="color:#2E69F6;">
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star-o"></i>
                         </h5>
                         <p class="text-muted">720 Avis</p>
						{#<p>Rechargez le montant à payer dans votre mobile money</p> #}
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{{asset('assets/img/switchup-review.svg')}}" style="height:40px" alt="">
						</div>
                        <h5 style="color:#2E69F6;">
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star-o"></i>
                         </h5>
                         <p class="text-muted">159 Avis</p>
						{# <h6>Payez</h6>
						<p>Par OM, MoMo, Moov, etc.</p> #}
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{{asset('assets/img/trustpilot-review.svg')}}" style="height:40px" alt="">
						</div>
                        <h5 style="color:#2E69F6;">
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star-o"></i>
                         </h5>
                         <p class="text-muted">235 Avis</p>
						{# <h6>Téléchargez</h6>
						<p>En un click</p> #}
					</div>
				</div>
			</div>
		</div>
	</section>